<!--Reactive Form -->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="login(loginForm)" *ngIf="!isLoading" #loginForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput ngModel name="email" type="email" placeholder="E-Mail Address" #emailInput="ngModel" required email>
      <mat-hint></mat-hint>
      <mat-error *ngIf="emailInput.invalid">Please Enter a Valid Email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput ngModel name="password" type="password" placeholder="Password" #passwordInput="ngModel" required>
      <mat-hint></mat-hint>
      <mat-error *ngIf="passwordInput.invalid">Please Enter a Valid Password</mat-error>
    </mat-form-field>
    <hr>
    <button mat-raised-button color="primary" type="submit">{{buttonText}}</button>
  </form>
</mat-card>
<br>
