mat-card{
  width:80%;
  margin: auto;
  border: 1px solid aqua;

  mat-form-field{
    width: 100%;
    textarea{
      border-top: 1px solid purple;
      border-left: 1px solid purple;
      border-right: 1px solid purple;
    }
  }
}
